body {
  margin: 0px;
  font-family: Arial, sans-serif;
}
.hero img {
  width: 100%;
  display: block;
  height: 20%;
  overflow: auto;
  margin-top: -5%;
}
.overlay {
  margin-top: -5%;
  margin-left: 0px;
  width: 100%;
  height: 15%;
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
}
.headnav {
  display: none;
}
nav {
  margin: 0;
}
#hamburger {
  color: white;
}

#specials {
  background-color: black;
  padding-left: 4%;
  padding: 0 0 4% 4%;
  overflow: hidden;
}
.whiteWords {
  color: white;
  text-align: center;
  font-size: 300%;
}
.blackWords {
  text-align: center;
  font-size: 500%;
}
.specialsBlock {
  background-color: white;
  height: 150px;
  width: 80%;
  padding: 0 0 0 3%;
  margin: 3% 0 0 8%;
}
.specialsBlock h1 {
  font-size: 550%;
  margin: 2% 3% 0 0;
  letter-spacing: 1px;
  float: right;
}
.specialsBlock p {
  font-size: 200%;
  padding: 7% 0 0 1%;
}
.about {
  background-color: white;
}
.about p {
  margin: 1% 10%;
  font-size: 65%;
}
button.button {
  background-color: black;
  color: white;
  font-size: 250%;
  border: none;
  border-radius: 10px;
  padding: 7px 40px;
  width: 50%;
  height: 120px;
  margin: 5% 25%;
}
.moreinfo {
  background-color: #cac9c9;
  padding: 2% 0;
}
.picture img {
  margin: 7% 10%;
  width: 80%;
  box-shadow: 10px 10px 5px grey;
}
.moreinfo p {
  margin: 5% 10%;
  font-size: 65%;
}
.newsletter {
  color: white;
  float: left;
  background-color: #6d6d6d;
  width: 100%;
  padding-bottom: 2%;
}
.newsletter p {
  font-size: 60%;
  margin: -5% 5%;
}
.newswords {
  float: left;
}
input[type=text] {
  width: 100%;
  margin-top: 5%;
  padding-top: 10px;
}
form {
  width: 40%;
  margin: 1% 28%;
}
button.submit {
  width: 100%;
  height: 80px;
  margin-left: 0;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  padding: 14px 40px;
  font-size: 120%;
  margin-left: 0;
}
.newslinks {
  float: left;
  text-align: center;
  margin: 1% 33%;
}
.newslinks ul li {
  font-size: 60%;
}
.newsnav {
  color: white;
  text-align: center;
}
.newsnav ul a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.newsnav h3 {
  text-decoration: underline;
}
.supportnav {
  color: white;
}
.supportnav ul a {
  color: white;
  list-style-type: none;
  text-decoration: none;
}
.supportnav h3 {
  text-decoration: underline;
}
.connectnav {
  color: white;
}
.connectnav ul a {
  color: white;
  text-decoration: none;
}
.connectnav h3 {
  text-decoration: underline;
}
footer {
  background-color: black;
  color: white;
  font-size: 50%;
  text-align: center;
}

@media screen and (min-width: 400px) {
  .specialsBlock {
    background-color: white;
    height: 150px;
    width: 40%;
    padding: 0 0 0 3%;
    margin: 3% 0 0 4%;
    float: left;
  }
  .specialsBlock:nth-child(2n+1) {
    clear: left;
  }
  .specialsBlock h1 {
    font-size: 350%;
    margin: 9% 3% 0 0;
    letter-spacing: 1px;
    float: right;
  }
  .specialsBlock p {
    font-size: 200%;
    padding: 0 0 10% 1%;
    margin-top: 5%;
  }
} /*400*/

@media screen and (min-width: 550px) {
  .specialsBlock {
    background-color: white;
    height: 150px;
    width: 25%;
    padding: 0 0 0 3%;
    margin: 3% 0 0 4%;
    float: left;
  }
  .specialsBlock h1 {
    font-size: 220%;
    margin: 8% 3% 0 0;
    letter-spacing: 1px;
    float: right;
  }
  .specialsBlock p {
    font-size: 160%;
    padding: 0 0 10% 1%;
    margin-top: 20%;
    margin-left: -1%;
  }
} /*550*/
@media screen and (min-width: 700px) {
  .specialsBlock {
    background-color: white;
    height: 150px;
    width: 25%;
    padding: 0 0 0 3%;
    margin: 3% 0 0 4%;
    float: left;
  }
  .specialsBlock h1 {
    font-size: 220%;
    margin: 8% 3% 0 0;
    letter-spacing: 1px;
    float: right;
  }
  .specialsBlock p {
    font-size: 160%;
    padding: 0 0 10% 1%;
    margin-top: 20%;
    margin-left: -1%;
  }
} /*700*/
@media screen and (min-width: 1000px) {
  .hero img {
    display: block;
    width: 100%;
    height: 15%;
    overflow: auto;
  }
  .overlay {
    margin-top: 0;
    width: 100%;
    height: 15%;
    background: rgba(0,0,0,0.8);
    color: #fff;
    position: fixed;
  }
  .headnav {
    color: white;
    font-family: Arial, sans-serif;
  }
  .headnav ul {
    margin-top: 0px;
  }
  .headnav ul li {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10%;
  }
  .headnav ul a {
    color: white;
    margin-top: -10px;
  }
  img.navimg {
    width: 45%;
    padding-left: 10%;
  }
  img[src*="call"] {
    height: auto;
    width: auto;
    padding-left: 0;
  }
  img[src*="search"] {
    float: right;
  }
  .headnav .nav ul li a {
    margin-top: -4%;
  }
  li {
    list-style-type: none;
  }
  .nav {
    margin-top: -10px;
  }
  #specials {
    background-color: black;
    margin-left: 4%;
  }
  .specialsBlocks {
    margin-top: -4%;
  }
  .whiteWords {
    color: white;
    text-align: center;
    font-size: 300%;
  }
  .blackWords {
    text-align: center;
    font-size: 500%;
  }
  .specialsBlock {
    background-color: white;
    height: 160px;
    width: 270px;
    margin-left: 3%;
    margin-top: 4%;
    float: left;
  }
  .specialsBlock:nth-child(4n+5) {
    clear: float;
  }
  .specialsBlock h1 {
    text-align: right;
    font-size: 250%;
    margin: 6% 3% 0 0;
    letter-spacing: 1px;
  }
  .specialsBlock p {
    font-size: 120%;
    margin-top: -10px;
    margin-left: 5%;
  }
  .about {
    background-color: white;
    padding-left: 5%;
    padding-bottom: 2%;
    margin-top: 5%;
    float: left;
  }
  .about p {
    font-size: 80%;
    margin-right: 43%;
  }
  .button {
    background-color: black;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 14px 40px;
    font-size: 90%;
    margin-left: 45%;
  }
  input[type=text] {
    padding-left: 10%;
    padding-top: .4%;
  }
  form {
    padding-left: 5%;
  }
  button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 7px 40px;
  }
  .picture img {
    height: 25%;
    width: 25%;
    float: right;
    margin-top: 5%;
    margin-right: 15%;
  }
  .newsletter {
    color: white;
    float: left;
    background-color: #6d6d6d;
    width: 100%;
    padding-bottom: 2%;
  }
  .newsletter p {
    font-size: 75%;
    margin-left: 5%;
    margin-right: 55%;
    margin-top: 0;
    line-height: 18px;
  }
  .newsletter h3 {
    margin-left: 5%;
    margin-bottom: 4px;
  }
  .newslinks {
    float: right;
    margin-top: -13%;
    padding-top: 1%;
  }
  .newswords {
    float: left;
  }
  .newsnav {
    color: white;
    float: left;
  }
  .newsnav ul a {
    color: white;
    text-decoration: none;
    font-size: 75%;
  }
  .newsnav h3 {
    margin-left: 0;
    margin-bottom: 2%;
    text-decoration: underline;
  }
  .supportnav {
    color: white;
    float: left;
  }
  .supportnav ul a {
    color: white;
    text-decoration: none;
    font-size: 75%;
  }
  .supportnav h3 {
    margin-left: 0;
    margin-bottom: 2%;
    text-decoration: underline;
  }
  .connectnav {
    color: white;
    float: left;
  }
  .connectnav ul a {
    color: white;
    text-decoration: none;
  }
  .connectnav h3 {
    margin-left: 0;
    margin-bottom: 2%;
    text-decoration: underline;
  }
  .connectnav img {
    width: 130%;
  }
  footer {
    background-color: black;
    clear: both;
    text-align: center;
  }
  footer img {
    width: 5%;
  }
  footer p {
    color: white;
    font-size: 50%;
  }
}
